---
import MainLayout from "../layouts/MainLayout.astro";
import '../css/index.scss';
---

<MainLayout title="404 - Not found">
    <section style="min-height: 70vh;">
        <h1>404 - Not found</h1>
    </section>
</MainLayout>