---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Mon experience">
  <section style="min-height: 80vh; justify-content:start;" class="main">
    <h1 style="margin-top: 70px;">Mon experience</h1>
    <p style="margin: 20px 0;width: 80%; text-align: justify;">
      J'ai commencé la programmation à l'age de 9 ans avec le HTML. Puis, à 14
      ans j'ai créé mon premier système d'exploitation ce qui a été mon premier
      gros projet. J'ai appris pleins de choses sur le fonctionnement d'un
      ordinateur. J'ai fais mon système d'exploitation en Rust car c'est un
      langage performant, léger et possède pleins de règles afin d'augmenter la
      qualité du code et d'éviter les bugs (notamment au niveau de la mémoire &
      du multithreading).
    </p>
  </section>
</MainLayout>
