---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/index.scss";
import { knowledge } from "../data/indexData";
import Posts from "../components/Posts.astro";
---

<MainLayout title="Main | Sxmourai">
  <section class="main">
    <h1>I'm a <strong>Developer</strong></h1>
    <p>
      I write <strong>clean</strong> and <strong>performant</strong> code<br />
      <!-- <Button variant="outline">Learn more</Button> -->
    </p>
    <div class="socials">
      <a href="https://discord.gg/cExaUDhv5G">
        <img src="discord.png" />
      </a>
      <a href="https://www.youtube.com/channel/UCDflBA1UajR9Fg79OAxcmMg">
        <img src="youtube.png" />
      </a>
      <a href="https://www.linkedin.com/in/boris-%E2%A0%80-4307642a1/">
        <img src="linkedin.png" />
      </a>
    </div>
  </section>
  <section class="experience">
    <h1>My knowledge</h1>
    <ul id="exp">
      {
        knowledge.map((item) => {
          return (
            <a href={item.url}>
              <img src={item.path} alt={item.name} />
              <p>{item.name}</p>
            </a>
          );
        })
      }
    </ul>
  </section>
  <section class="projects">
    <h1>My projects</h1>
    <Posts path="projects" />
  </section>
</MainLayout>
