---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../css/index.scss";
import Post from "../../components/Post.astro";
let projects = await Astro.glob("./*.md");
---

<MainLayout title="My projects">
  <section class="main projects">
    <h1>My <strong>projects</strong></h1>
    {
      projects.map((project) => (
        <Post
          title={project.frontmatter.title}
          desc={project.frontmatter.desc}
          img={project.frontmatter.img}
          categories={project.frontmatter.categories}
          url={project.url || "Not found"}
        />
      ))
    }
  </section>
</MainLayout>

<style lang="scss" is:inline>
  section {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    gap: 20px;
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
      .post {
        height: 80%;
      }
    }
  }
</style>
