---
import MainLayout from "../../layouts/MainLayout.astro";
import Posts from "../../components/Posts.astro";
---

<MainLayout title="My projects">
  <section class="main flex-row">
    <h1 style="margin-bottom: 100px;">My <strong>projects</strong></h1>
    {(<Posts path="projects" />)}
  </section>
</MainLayout>
