---
import MainLayout from "../../layouts/MainLayout.astro";
import Posts from "../../components/Posts.astro";
---

<MainLayout title="My Blogs">
  <section>
    <h1>You are seeing my blogs:</h1>
    <Posts path="blogs" />
  </section>
</MainLayout>
