---
import RootLayout from "../../layouts/RootLayout.astro";

---


<RootLayout title="Mon site en SNT !">
    <h1>Titre niveau 1</h1>
    <p>Le texte est dans une balise p !</p>
    <a href="https://jaetheme.com/balises-html5">Lien</a>
    <img src="../image.png" />
</RootLayout>
<style>
body {
    background: #F6F3B8;
}
h1 {
    color: blue;
    font-size: 30px;
}
p {
    color: red;
}

</style>